{
    "extends": [
        "airbnb",
        "prettier",
        "eslint:recommended",
        "plugin:prettier/recommended",
    ],
    "parserOptions": {
        "project": "[tsconfig.json]",
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"],
            },
        },
    },

    "rules": {
        "react/require-default-props": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-filename-extension": [
            1,
            { "extensions": [".js", ".jsx", ".tsx"] },
        ],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never",
            },
        ],
        "react/function-component-definition": [
            2,
            { "namedComponents": ["arrow-function", "function-declaration"] },
        ],
    },
}
