.input {
    display: flex;
    width: 100%;
    border-style: none;
    border-bottom: 2px solid lightgray;
    padding-left: -10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.input:focus {
    outline: none;
}
.input.disabled {
    background-color: #e7e7e773;
}
.input.invalid {
    border-bottom: 2px solid red;
}
.input.small {
    font-size: 12px;
}
.input.large {
    font-size: 24px;
}
@media (max-width: 480px) {
    .input.responsive {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .input.responsive {
        font-size: 16px;
    }
}
